.app-container {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // margin: 200px 175px 200px 175px;
  top: 2em;
  left: 2em;
  margin: 0;
  padding: 20px;
  font-family: 'Jost', sans-serif;
// font-family: 'Work Sans', sans-serif;
  font-weight: 200;
}

// text colors

h1, h2, h3 {
  color:rgb(105, 105, 105)
  }
  
  h3 {
    margin-bottom: 0;
  }

// Card container

section .cardContainer {
  
  margin-left: 200px;
  margin-right: 200px;
  
  // >>>> using CSS grid
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  // gap: 20px;

  // >>>> using Flexbox
  // display: flex;
  // flex-direction: row-reverse;
  // justify-content: center;
  // align-items: flex-end;
  // flex-wrap: wrap-reverse;
  // align-content: center;
  // align-items: center;
}

// Cards

.furnCard {
  margin-top: 20px;
  margin-right: 20px;
  padding: 1.5em;
  border-bottom: 1px solid rgba(148, 148, 148, 0.438);
  // border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-self: center;

}
.furnCard img {
  margin-top: 20px;
  max-width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.h1DeleteBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.editDeleteIcons {
color:rgb(105, 105, 105)
}

// Edit item form

.editForm {
  padding: 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  // align-items: center;
  border: .75px solid gainsboro;
}

.editLabel {
  margin-top: 10px;
}

.editInput {
  padding: 10px;
}


// Add item form

.addFormContainer {
  max-width: 75%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1.5px solid rgb(200, 200, 200);
  border-radius: 5px;
  padding: 20px;
}

.addButton {
  background-color: rgba(100, 148, 237, 0.795);
  border:rgba(100, 148, 237, 0.795);
  border-radius: 10px;
  margin: 15px;
  padding: 20px;
}



/* ----- Media queries ----- */

@media screen and (max-width: 767px) {
  // .container {
  //   margin: 25px;
  // }

  section .cardContainer {
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .furnCard {
    margin-top: 0px;
    margin-right: 0px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1000px){
  // .container {
  //   margin: 30px 50px;
  // }

  section .cardContainer {
    margin-left: 80px;
    margin-right: 80px;
    display: grid;
    grid-template-columns: 2fr 2fr;
  }

}